body{
    background-color: aqua;
}

.name{
    display: flex;
    justify-content: center;
    background-color: blue;
    margin: -8px;
    margin-bottom: 60px;
}

.name h1{
    color: white;
}

#photo_ci{
    width: 250px;
    border-radius: 35px;
    margin-left: 80px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.nav-bar ul{
    display: flex;
    flex-direction: row;
}

.nav-bar li{
    list-style: none;
    text-decoration: none;
    font-size: large;
    margin-right: 25px;
}

.nav-bar a{
    text-decoration: none;
    color: black;
}

.cv{
    text-decoration: none;
}

.presentation{
    margin-left: 100px;
}

.presentation h2{
    display: flex;
    justify-content: center;
}
.presentation p{
    display: flex;
    justify-content: center;
}

#diplome{
    margin-top: 150px;
}

.tiret{
    list-style: disclosure-closed;
}