#photo_ci{
    width: 15%;
    border-radius: 35px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;

}

.cv{
    text-decoration: none;
}


.presentation{
    margin-top: 100px;
}

.presentation h1{
    display: flex;
    justify-content: center;
}

#diplome{
    margin-top: 200px;
}